<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ETaxi | Đăng ký</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="static/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="" class="nav-link">Trang Chủ</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="dangky" class="nav-link">Đăng ký</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="dangnhap" class="nav-link">Đăng nhập</a>
                </li>
            </ul>
        </nav>    
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img src="static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">ETaxi</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Đăng ký nhân viên taxi</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Đăng ký</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Thông tin nhân viên</h3>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="hoten">Họ tên</label>
                                            <input type="text" class="form-control" id="hoten"
                                                placeholder="Nhập họ tên">
                                        </div>
                                        <div class="form-group">
                                            <label for="sodienthoai">Số điện thoại</label>
                                            <input type="number" class="form-control" id="sodienthoai"
                                                placeholder="Nhập số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <label for="matkhau">Mật khẩu</label>
                                            <input type="password" class="form-control" id="matkhau"
                                                placeholder="Nhập mật khẩu">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-primary" name="đangky" id="đangky">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <!--Google map-->
                            <div id='map' style='width: 100%; height: 100%;'></div>
                            <!--Google Maps-->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="static/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="static/dist/js/adminlte.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            // đăng ký nhân viên
            $("#đangky").click(function() {
                var hoten = $('#hoten').val();
                var sodienthoai = $('#sodienthoai').val();
                var matkhau = $('#matkhau').val();
                $.ajax({
                    type: "POST",
                    url: "/api/nguoidung",
                    dataType: 'json',
                    data: { 
                        hoten: hoten,
                        sodienthoai: sodienthoai,
                        matkhau : matkhau 
                    },
                    success: function(result) {
                        if(result.status == true && result.data > 0) {
                            //alert('Đăng ký nhân viên taxi thành công');
                            $(document).Toasts('create', {
                                class: 'bg-success',
                                title: 'Thông tin ứng dụng',
                                autohide: true,
                                delay: 3000,
                                body: 'Đăng ký nhân viên taxi thành công.'
                            });
                            // chuyển qua trang đăng nhập
                            setTimeout(function() { 
                                window.location.replace("/dangnhap");
                            }, 3000);
                        }
                        else {
                            //alert('Đăng ký nhân viên taxi thất bại');
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                autohide: true,
                                delay: 5000,
                                title: 'Thông tin ứng dụng',
                                body: 'Đăng ký nhân viên taxi thất bại.'
                            })
                        }
                    },
                    error: function(jqXHR, textStatus, err) {
                        //show error message
                        alert('text status '+textStatus+', err '+err)
                    }
                });
            });
        });
    </script>
</body>
</html>